{% extends "Misc/Template.html.twig" %}

{% block TabTitle %}
E-Mail Verification
{% endblock %}

{% block PageTitle %}
Please verify your E-Mail
{% endblock %}

{% block Page %}
    <p class="Center">
        Thank you for creating an account at BioMoB. Your Account has been created successfully. <br>
        Please check your E-Mail Inbox to confirm that this is displayed to a real person and not a bot. <br>
        The E-Mail that contains the confirmation will also be used if you need to reset your password. <br>
        You can close this tab now. <br>
        <br>
        Have a nice remaing day and see you soon.
    </p>
{% endblock %}