{% extends "Misc/Template.html.twig" %}

{% block TabTitle %}
    Change Password
{% endblock %}

{% block Stylesheets %}
    <link rel="stylesheet" type="text/css" href="/Edit/Password/CSS">
{% endblock %}

{% block PageHeader %}
    <div class="TopArea">
        <div class="ButtonArea">
            <a href="/Edit/EditProfile" class="FakeButton">
                <img src="{{ path('LogInMenuEditProfileImage') }}" alt="A filled out CV" class="ButtonIcon">
                Return to Profile Page
            </a>
        </div>
        <div class="TitleArea">
            <h3 class="Title">
                Change Password  {# TODO: Alert machen, ob Passwort erfolgreich geandert #}
            </h3>
        </div>
    </div>
{% endblock %}

{% block Page %}
    <form action="" method="post"> {# TODO: Controller fur Passwort andern machen #}
        <table class="FormTable">
            {% include '/Misc/FormTemplate/FormRow.html.twig' with {"id": "Bisher", "label": "Current password", "type": "password", "required": true}  %}
            {% include '/Misc/FormTemplate/FormRow.html.twig' with {"id": "New", "label": "New password", "type": "password", "required": true}  %}
            {% include '/Misc/FormTemplate/FormRow.html.twig' with {"id": "NewAgain", "label": "Repeat new password", "type": "password", "required": true}  %}
        </table>
        <br />
        <input type="submit" value="Change Password" class="FakeButton">
    </form>
    {% if wrongPassword %}
    <p class="Center">
        An error occured during password change. Please check if you typed your old password correct.
    </p>
    {% endif %}
{% endblock %}