<tr>
    <td>
        <label for="{{ id }}">
            {{ label }}
        </label>
    </td>
    <td>
        <textarea id="{{ id }}" name="{{ id }}" class="FormInput" placeholder="&nbsp;" {% if required %} required {% endif %}></textarea>
    </td>
</tr>